:root {
  /* Название переменной должно начинаться с -- */
  --primary-color: #5221e6;
  --grey-color: #181823;
  --grey-light-color: #8491a0;
  --grey-dark-color: #5b6876;
  --title-color: #fff;
  --bg-color: #000;
  --accent-green: #3cc74e;
  --accent-pink: #e95d90;
  --accent-peach: #fff3e4;
  --accent-violet: #fbe4ff;
  --accent-blue: #609bff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.page {
  inline-size: 1400px;
  block-size: 100%;
  margin: 0 auto;
  font-family: "Sen", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-light-color);
  background-color: var(--bg-color);
}
/*.subtitle {
  font-size: 55px;
  font-weight: 700;
}*/

.header {
  padding: 32px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
}
.header__menu-link {
  text-decoration: none;
  color: var(--title-color);
  padding: 0 24px;
}
.hero {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 80px 40px 84px 0;
  border-bottom: 1px dashed var(--title-color);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: -130px;
  gap: 32px;
  text-align: left;
  z-index: 1;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 78px;
  font-weight: 700;
  color: var(--title-color);
  text-align: left;
}
.hero__heading_accent {
  opacity: 0.5;
}

/**/
.work {
  padding: 120px 72px;
}
.work__text {
  max-width: 690px;
}
.work__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.work__subtitle {
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 700;
  color: var(--title-color);
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 416px);
  grid-auto-rows: 1fr;
  gap: 24px;
  counter-reset: count;
}
.card {
  position: relative;
  padding-top: 141px;
  counter-increment: count 1;
}
.card::before {
  content: "0" counter(count);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 117px;
  font-weight: 400;
  color: var(--grey-light-color);
}
.card__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--title-color);
}
.card__title_accent-green {
  color: var(--accent-green);
}
.card__title_accent-blue {
  color: var(--accent-blue);
}
.card__title_accent-pink {
  color: var(--accent-pink);
}
.card__decription {
  padding-top: 22px;
  padding-right: 48px;
}

.project {
  padding: 120px 72px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  align-items: start;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project__text {
  max-width: 572px;
}
.project__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.project__subtitle {
  margin-bottom: 80px;
  font-size: 55px;
  font-weight: 700;
  color: var(--title-color);
}
.article__text {
  padding: 40px 32px;
}
.article__title {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 700;
  color: var(--title-color);

}
.article__button {
  width: fit-content;
  font-weight: 700;
  color: var(--title-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
  padding: 24px 32px;
  margin: 0 auto;
  text-transform: uppercase;
}

/*Вставка про ценности и про инстаграм*/
.value__unit {
  background-color: var(--accent-peach);
}
.insta__unit {
background-color: var(--accent-violet);
}

.unit {
  position: relative;
}
.unit__text {
  width: calc(100% - 720px);
  padding: 120px 72px;
}
.unit__subtitle {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--grey-color);
}
.unit__description {
margin-bottom: 118px;
color: var(--grey-dark-color);
}
.unit__link {
  position: relative;
 color: var(--grey-color);
 font-size: 16px;
 text-decoration: none;
}
.unit__link::after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--grey-color);
}
.unit__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 720px;
  height: 600px;
}

.skillset {
  padding: 120px 72px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}
.skillset__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.skillset__subtitle {
  margin-bottom: 24px;
  font-size: 55px;
  font-weight: 700;
  color: var(--title-color);
}
.skillset__description {
  color: var(--grey-dark-color);
  }
  .skill-card__title {
    margin-top: 12px;
    margin-bottom: 24px;
    font-size: 24px;
    color: var(--title-color);
  }
  .skill-card__description {
    font-size: 16px;
    color: var(--grey-dark-color);
  }
  .labels__list {
    display: grid;
    grid-template-columns: repeat(6, 340px);
    height: 140px;
    overflow: hidden;
  }
  .label__item {
     text-align: center;
     padding: 55px 0;
  }
/**/
  .dribbble__panel {
   padding: 120px 182px;
  }
 .panel__text {
  max-width: 636px;
  padding-bottom: 120px;
 }
  .panel__subtitle {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--title-color);
  }
  .panel__description {
  margin-bottom: 40px;
  }
  .panel__link {
    position: relative;
    color: var(--title-color);
   font-size: 16px;
   text-decoration: none;
  }
  .panel__link::after {
    content: " ";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--grey-light-color);
  }

  /**/
  .response__panel {
    padding: 120px 72px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px
  }
.respone__list {
  display: flex;
flex-direction: column;
gap: 120px;

}
.response__item {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.response__text {
  padding: 64px;
  border: 1px solid var(--grey-dark-color);
}

  .response__quote {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 64px;
    color: var(--title-color);
  }
 
  .response__name {
    color: var(--grey-dark-color);
  }
  .response__prof {
    color: var(--grey-dark-color);
  }
