.page {
  margin: 0 auto;
  color: var(--grey-light-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--bg-color);
  inline-size: 1400px;
  block-size: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 72px;
}

.header__menu-list {
  display: flex;
  flex-direction: row;
}

.header__menu-list-item {
  padding: 32px 24px;
}

.header__menu-link {
  color: var(--title-color);
  text-decoration: none;
}

.header__menu-list-item_active {
  background-color: var(--primary-color);
}

/*section hero*/
.hero {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px dashed var(--title-color);
  padding: 80px 40px 84px 0;
}

.hero__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 32px;
  margin-left: -130px;
  text-align: left;
}

.hero__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: 78px;
  text-align: left;
}

.hero__heading_accent {
  opacity: 0.5;
}

/**/
.section__subtitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 55px;
}

/*section work*/
.work {
  padding: var(--section-padding, 120px 72px);
}

.work__text {
  max-inline-size: 690px;
}

.work__title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.work__subtitle {
  margin-bottom: 40px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 416px);
  grid-auto-rows: 1fr;
  gap: 24px;
  counter-reset: count;
}

.card {
  position: relative;
  padding-top: 141px;
  counter-increment: count 1;
}

.card::before {
  content: "0" counter(count);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--grey-light-color);
  font-weight: 400;
  font-size: 117px;
}

.card__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
}

.card__title_accent-green {
  color: var(--accent-green);
}

.card__title_accent-blue {
  color: var(--accent-blue);
}

.card__title_accent-pink {
  color: var(--accent-pink);
}

.card__decription {
  padding-top: 22px;
  padding-right: 48px;
}

/**/
.skillset {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
  padding: var(--section-padding, 120px 72px);
}

.skillset__subtitle {
  margin-bottom: 24px;
}

.skillset__description {
  color: var(--grey-dark-color);
}

.skillset__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.skill-card__title {
  margin-top: 12px;
  margin-bottom: 24px;
  color: var(--title-color);
  font-size: 24px;
}

.skill-card__description {
  color: var(--grey-dark-color);
  font-size: 16px;
}

.labels__list {
  display: grid;
  grid-template-columns: repeat(6, 340px);
  block-size: 140px;
  overflow: hidden;
}

.label__item {
  padding: 55px 0;
  text-align: center;
}


/**/
.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 24px;
  padding: var(--section-padding, 120px 72px);
}

.section__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.project__text {
  max-inline-size: 572px;
}

.project__title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.project__subtitle {
  margin-bottom: 80px;
}

.article__text {
  padding: 40px 32px;
}

.article__title {
  margin-bottom: 13px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
}

.article__button {
  inline-size: fit-content;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
  padding: 24px 32px;
  color: var(--title-color);
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
}

/*Вставка про ценности и про инстаграм*/
.value__unit {
  background-color: var(--accent-peach);
}

.insta__unit {
  background-color: var(--accent-violet);
}

.unit {
  position: relative;
}

.unit__text {
  inline-size: calc(100% - 720px);
  padding: 120px 72px;
}

.unit__subtitle {
  margin-bottom: 24px;
  color: var(--grey-color);
}

.unit__description {
  margin-bottom: 118px;
  color: var(--grey-dark-color);
}

.unit__link {
  position: relative;
  color: var(--grey-color);
  font-size: 16px;
  text-decoration: none;
}

.unit__link::after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  inline-size: 100%;
  height: 2px;
  background-color: var(--grey-color);
}

.unit__image {
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 720px;
  block-size: 600px;
}

/*dribbble panel*/
.dribbble {
  padding: var(--panel-padding, 120px 182px);
}

.panel__text {
  max-inline-size: 636px;
  padding-bottom: 120px;
}

.panel__subtitle {
  margin-bottom: 24px;
}

.panel__description {
  margin-bottom: 40px;
}

.panel__link {
  position: relative;
  color: var(--title-color);
  font-size: 16px;
  text-decoration: none;
}

.panel__link::after {
  content: " ";
  position: absolute;
  bottom: -4px;
  left: 0;
  inline-size: 100%;
  height: 2px;
  background-color: var(--grey-light-color);
}

/*section отзывы*/
.response {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding: var(--section-padding, 120px 72px);
}

.response__list {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.response__item {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.response__text {
  border: 1px solid var(--grey-dark-color);
  padding: 64px;
}

.response__quote {
  margin-bottom: 64px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 24px;
}

.response__name {
  color: var(--grey-dark-color);
}

.response__prof {
  color: var(--grey-dark-color);
}

/*section gallery*/
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  padding: var(--section-padding, 120px 72px);
}

.gallery__text {
  max-inline-size: 588px;
}

.gallery__subtitle {
  margin-bottom: 24px;
}

.gallery__description {
  padding-bottom: 24px;
}

.gallery__form {
  display: flex;
  justify-content: start;
  gap: 24px;
}

.radio__label {
  border: 1px solid var(--primary-color);
  padding: 12px 16px;
  color: var(--title-color);
  text-transform: uppercase;
}

.radio__label:has(.radio__box:checked) {
  background-color: var(--primary-color);
}

.gallery__italy {
  display: grid;
  grid-template-columns: repeat(4, 306px);
  gap: 24px;
}

/*contact panel*/
.contact {
  display: grid;
  grid-template-columns: repeat(2, 526px);
  gap: 24px;
  padding: var(--panel-padding, 120px 182px);
}
.contact__subtitle {
  margin-bottom: 24px;
}

.contact__form {
  display:flex;
  flex-direction: column;
}
.form__label {
  margin-bottom: 8px;
}

.form__input, .form__message {
  display: block;
  margin-bottom: 40px;
  border: none;
  padding: 10px 15px;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--grey-color);
  color: var(--title-color);
  caret-color: var(--grey-light-color);
}

.form__input:focus, .form__message:focus {
  outline: none;
}
.form__input:focus-visible, .form__message:focus-visible {
  outline: 1px solid var(--grey-light-color);
  outline-offset: 0px;
}
.form__button {
  border: none;
  padding: 24px 0;
  color: var(--title-color);
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  text-transform: uppercase;
  background-color: var(--primary-color);
}